{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}Liste des mails envoyés{% endblock %}

{% block body %}
<div class="btn-group btn-group-justified">
  <a class="btn btn-primary" href="{{ path('SLNRegisterBundle_mail_licensee') }}">Envoyer un nouveau mail</a>
</div>

<h1>Liste des mails</h1>

{% include 'SLNRegisterBundle:Mail:list_content.html.twig' with { 'mails': mails, 'admin': admin } %}

{% endblock %}

