{% extends 'SLNRegisterBundle::mail.html.twig' %}

{% block title %}{{ title_value|raw }}{% endblock %}

{% block content %}
<h2 style='color: #6495B3; font-size: 24px; margin-top: 20px; margin-bottom: 10px;'>{{ title_value|raw }}</h2>

{{ body_value|raw }}
{% endblock %}





