
<div id="mail">
  <h2 class="editable" id="title">Titre du mail</h2>

  <div class="image">
    <div class="btn-group">
        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span>Sélectionner une image...</button>
        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span>Effacer l'image</button>
    </div>
  </div>
  <div class="editable" id="body">Texte ici</div>
</div>





