#mail_licensee_list {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    height: 200px; 
    overflow: auto;
}

#mail_licensee_list p {
  margin-top: 0px;
  margin-bottom: 0px;
}


#mail_progressbar {
  margin-bottom: 20px;
}

.red-color {
    color: red;
}

.orange-color {
    color: orange;
}


