/* Specific for mail page */
#mail_licensee_list {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    height: 200px; 
    overflow: auto;
}

#mail_licensee_list p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#mail_progressbar {
  margin-bottom: 20px;
}


/* Inscriptions status */
.red-color {
    color: red;
}

.orange-color {
    color: orange;
}

.certificat-date-edit { display: none; }
.inscription_toggle:hover .certificat-date-edit { display: block; }

.certificat-date-text { display: block; }
.inscription_toggle:hover .certificat-date-text { display: none; }

/* Animated icon for Ajax */
glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

