{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/slnregister/js/groupe.js') }}"></script>

    <script type="text/javascript">
      $( document ).ready(function() {
        setup_groupe(); 
        $('.timepicker').datetimepicker({format: 'H:mm', locale: 'fr', 'stepping': 15});
      });
    </script>
{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

  {% include 'SLNRegisterBundle:Groupe:form.html.twig' with { 'form': form, 'id': id, 'title': title } %}
{% endblock %}
