{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
      $( document ).ready(function() {
        $('.datepicker').datetimepicker({format: 'DD/MM/YYYY', locale: 'fr', 'stepping': 1});
      });
    </script>
{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

  {% include 'SLNRegisterBundle:Saison:form.html.twig' with { 'form': form, 'id': id, 'title': title } %}
{% endblock %}

