{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>Félicitation {{user.username}}, votre compte est maintenant activé.</p>
    <p>Vous pouvez commencer les inscriptions en revenant à l'accueil: <a href="{{ path('SLNRegisterBundle_homepage') }}">Cliquez ici</a>.</p>
{% endblock fos_user_content %}
