{% set user=licensee.getUser %}
{{ user.getTitreName }} {{ user.getNom }}

Après évaluation de {{ licensee.getPrenom }} {{ licensee.getNom }}, les entraîneurs ont décidé qu'il/elle n'était pas encore prêt(e) pour intégrer les sections du club.

Nous vous conseillons de lui proposer d'abord des cours particuliers (Prendre contact auprès des maîtres nageurs de la piscine). Quelques cours lui permettront très vite
d'atteindre le niveau requis pour les cours collectifs.

N'hésitez pas à nous recontacter même en milieu d'année afin de réviser cette évaluation et lui proposer d'intégrer un groupe.

Cordialement
Le Stade Laurentin Natation.</p>
