{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

  {% include 'SLNRegisterBundle:Licensee:form.html.twig' with { 'form': form } %}
{% endblock %}
