{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}Liste des licenciés{% endblock %}

{% block body %}
<div class="btn-group btn-group-justified">
  <a class="btn btn-primary" href="{{ path('SLNRegisterBundle_admin_licensee_create') }}">Créer un licencié</a>
</div>

<h1>Liste des licenciés</h1>

{% if no_group|length > 0 %}
<h2>Pas de groupe sélectionné</h2>

  {% include 'SLNRegisterBundle:Licensee:list_content.html.twig' with { 'licensees': no_group, 'admin': admin } %}

{% endif %}

{% for nom,groupe in groupes %}
<h2>{{ nom }}</h2>

<p>{{ groupe['num'] }} licencié(e)s</p>

  {% include 'SLNRegisterBundle:Licensee:list_content.html.twig' with { 'licensees': groupe['licensees'], 'admin': admin } %}
{% endfor %}

<h1>Fonctions spéciales</h1>

<h2>Officiels</h2>
  {% include 'SLNRegisterBundle:Licensee:list_content.html.twig' with { 'licensees': officiels, 'admin': admin } %}

<h2>Membres du bureau</h2>
  {% include 'SLNRegisterBundle:Licensee:list_content.html.twig' with { 'licensees': bureau, 'admin': admin } %}

{% endblock %}

