.container { max-width: 1000px; }

#header { height: 110px; }
#header .banner { background-color: #6495B3; width: 100%; text-align: center; }

#nav .affix { position: fixed; top: 0; width: 100%; }

#footer { border-top: 1px solid #ccc; clear: both; text-align: center; padding: 10px; color: #aaa; background-color: white; }

h1, h2, h3 { color: #6495b3; }

.panel-default > .panel-heading {
    color: white;
    background-color: #A8CAFF;
    font-weight: bold;
}

.hidden {
    display: none;
}

form.form-horizontal p.help { 
    margin-left: 25%; /* col-sm-offset-3 */
    width: 58.3333%;  /* col-sm-7 */
    padding-left: 10px;
}

#mail div.image {
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
