{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}Feuilles d'inscriptions{% endblock %}

{% block body %}
<h1>Imprimer les feuilles d'inscription</h1>

<p><a class="btn btn-primary btn-block" download="inscriptions.pdf" href="{{ path('SLNRegisterBundle_member_inscriptions_pdf', { user_id: member.id }) }}">Télécharger le fichier</a></p>
<div class="row">
  <div class="col-sm-12">
    <iframe src="{{ path('SLNRegisterBundle_member_inscriptions_pdf', { user_id: member.id }) }}" height="600"></iframe>
  </div>
</div>
{% endblock %}

