{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}Liste des membres{% endblock %}

{% block body %}
<h1>Liste des membres</h1>

  {% include 'SLNRegisterBundle:Member:list_content.html.twig' with { 'members': members } %}
{% endblock %}

