{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}Liste des membres{% endblock %}

{% block body %}
{% embed 'SLNRegisterBundle:Payments:search_content.html.twig' with { 'search': '' } %}
  {% block buttons %}
  <a class="btn btn-primary" href="{{ path('SLNRegisterBundle_member_create') }}">Créer un membre</a>
  {% endblock %}
{% endembed %}

<h1>Liste des membres</h1>

  {% include 'SLNRegisterBundle:Member:list_content.html.twig' with { 'members': members } %}
{% endblock %}

