{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1>{{ title }}</h1>

<h2>Liste des paiements</h2>

{% include 'SLNRegisterBundle:Payments:list_content.html.twig' with { 'payments': payments, 'admin': admin } %}

<h2>{% if id == 0 %}Ajouter un paiement{% else %}Editer le paiement{% endif %}</h2>

{% include 'SLNRegisterBundle:Payments:form.html.twig' with { 'form': form, 'admin': admin, 
   'cancel_addr': path('SLNRegisterBundle_payment_user', { user_id: user_id }) } %}
  
{% endblock %}

