<div class="well">
  <form action='{{ path('SLNRegisterBundle_payment_search') }}' method='get' class="form-horizontal">
      <div class="input-group">
        <input id="form_search" name="search" placeholder="Nom, prénom ou email" class="form-control" type="text" value='{{search}}'>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class='glyphicon glyphicon-search'></span></button>
            {% block buttons %}
            {% endblock %}
        </span>
      </div>
  </form>

  {% block extra %}
  {% endblock %}
</div>

