{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}Suivi des inscriptions{% endblock %}

{% block body %}

{% embed 'SLNRegisterBundle:Payments:search_content.html.twig' with { 'search': search } %}
  {% block buttons %}
  <a class="btn btn-primary" href="{{ path('SLNRegisterBundle_payment_export', {saison_id: 0}) }}">Exporter les paiements</a>
  {% endblock %}
{% endembed %}

<p>Cliquez directement sur les icônes <span class="text-success glyphicon glyphicon-ok"></span> ou
   <span class="text-danger glyphicon glyphicon-remove"></span> pour mettre à jour l'inscription</p>

{% for user in users %}
  {% include 'SLNRegisterBundle:Payments:user_detail.html.twig' with { 'user': user, 'inscription_names': inscription_names,
                                                                       'saison': saison,
                                                                       'payment_val': payment_val,
                                                                       'admin': true, 'payments_detail': true } %}
{% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/slnregister/js/payments.js') }}"></script>
    <script type="text/javascript">
      $( document ).ready(function() { 
        $('.datepicker').datetimepicker({format: 'DD/MM/YYYY', locale: 'fr', 'stepping': 1});
        setup_payments(); 
      });
    </script>
{% endblock %}

