<div class="well">
  <form action='{{ path('SLNRegisterBundle_payment_search') }}' method='post' {{ form_enctype(searchform) }} class="form-horizontal" role="form">
      <div class="input-group">
        {{ form_widget(searchform.search) }}
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Rechercher</button>
        </span>
      </div>
  </form>
</div>

