SLNRegisterBundle_homepage:
  pattern: /
  defaults: { _controller: SLNRegisterBundle:Home:index }
  requirements:
    _method:  GET

SLNRegisterBundle_about:
  pattern:  /about
  defaults: { _controller: SLNRegisterBundle:Misc:about }
  requirements:
    _method:  GET

SLNRegisterBundle_contact:
  pattern:  /contact
  defaults: { _controller: SLNRegisterBundle:Misc:contact }
  requirements:
    _method:  GET|POST

SLNRegisterBundle_licensee_show:
  pattern: /licensee/{id}
  defaults: { _controller: SLNRegisterBundle:Licensee:show }
  requirements:
    _method:  GET
    id: \d+


#
# User pages
# ==========
#
# Create and edit licensees
# -------------------------
SLNRegisterBundle_licensee_create:
  pattern: /licensee/create/{user_id}
  defaults: { _controller: SLNRegisterBundle:Licensee:edit, id:0 }
  requirements:
    _method:  GET|POST
    user_id: \d+

SLNRegisterBundle_licensee_edit:
  pattern: /licensee/edit/{id}
  defaults: { _controller: SLNRegisterBundle:Licensee:edit }
  requirements:
    _method:  GET|POST
    id: \d+

SLNRegisterBundle_licensee_delete:
  pattern: /licensee/delete/{id}
  defaults: { _controller: SLNRegisterBundle:Licensee:delete }
  requirements:
    _method:  GET
    id: \d+

SLNRegisterBundle_member_inscriptions:
  pattern: /member/inscriptions/{user_id}
  defaults: { _controller: SLNRegisterBundle:Member:inscriptions }
  requirements:
    _method:  GET
    user_id: \d+


#
# Administrator pages
# ===================
#
# Create and edit groupes
# -----------------------
SLNRegisterBundle_groupe_create:
  pattern: /admin/groupe/create/
  defaults: { _controller: SLNRegisterBundle:Groupe:edit }
  requirements:
    _method:  GET|POST

SLNRegisterBundle_groupe_edit:
  pattern: /admin/groupe/edit/{id}
  defaults: { _controller: SLNRegisterBundle:Groupe:edit }
  requirements:
    _method:  GET|POST
    id: \d+

SLNRegisterBundle_groupe_delete:
  pattern: /admin/groupe/delete/{id}
  defaults: { _controller: SLNRegisterBundle:Groupe:delete }
  requirements:
    _method:  GET
    id: \d+

SLNRegisterBundle_groupe_show:
  pattern: /admin/groupe/show/{id}
  defaults: { _controller: SLNRegisterBundle:Groupe:show }
  requirements:
    _method:  GET|POST
    id: \d+

SLNRegisterBundle_groupe_list:
  pattern: /admin/groupe/list
  defaults: { _controller: SLNRegisterBundle:Groupe:list }
  requirements:
    _method:  GET|POST

#
# Create and edit members
# -----------------------
SLNRegisterBundle_member_create:
  pattern: /admin/member/create
  defaults: { _controller: SLNRegisterBundle:Member:edit }
  requirements:
    _method:  GET|POST

SLNRegisterBundle_member_edit:
  pattern: /admin/member/edit/{id}
  defaults: { _controller: SLNRegisterBundle:Member:edit }
  requirements:
    _method:  GET|POST
    id: \d+

SLNRegisterBundle_member_delete:
  pattern: /admin/member/delete/{id}
  defaults: { _controller: SLNRegisterBundle:Member:delete }
  requirements:
    _method:  GET
    id: \d+

SLNRegisterBundle_member_list:
  pattern: /admin/member/list
  defaults: { _controller: SLNRegisterBundle:Member:list }
  requirements:
    _method:  GET


#
# Create and edit licensees
# -------------------------
SLNRegisterBundle_admin_licensee_create:
  pattern: /admin/licensee/create/{user_id}
  defaults: { _controller: SLNRegisterBundle:Licensee:edit, id:0, admin: true }
  requirements:
    _method:  GET|POST
    user_id: \d+

SLNRegisterBundle_admin_licensee_edit:
  pattern: /admin/licensee/edit/{user_id}/{id}
  defaults: { _controller: SLNRegisterBundle:Licensee:edit, admin: true }
  requirements:
    _method:  GET|POST
    id: \d+
    user_id: \d+

SLNRegisterBundle_admin_licensee_delete:
  pattern: /admin/licensee/delete/{id}
  defaults: { _controller: SLNRegisterBundle:Licensee:delete, admin: true }
  requirements:
    _method:  GET
    id: \d+

SLNRegisterBundle_admin_licensee_list:
  pattern: /admin/licensee/list
  defaults: { _controller: SLNRegisterBundle:Licensee:list, admin: true }
  requirements:
    _method:  GET

SLNRegisterBundle_admin_pdf_test:
  pattern: /admin/licensee/pdf_test
  defaults: { _controller: SLNRegisterBundle:Licensee:pdftest }
  requirements:
    _method:  GET





