SLNRegisterBundle_homepage:
  path: /
  defaults: { _controller: SLNRegisterBundle:Home:index }
  requirements:
    methods:  GET

SLNRegisterBundle_about:
  path:  /about
  defaults: { _controller: SLNRegisterBundle:Misc:about }
  requirements:
    methods:  GET

SLNRegisterBundle_contact:
  path:  /contact
  defaults: { _controller: SLNRegisterBundle:Misc:contact }
  requirements:
    methods:  GET|POST


#
# User pages
# ==========
#
# Create and edit licensees
# -------------------------
SLNRegisterBundle_licensee_create:
  path: /licensee/create/{user_id}
  defaults: { _controller: SLNRegisterBundle:Licensee:edit, id:0, saison_id: 0 }
  requirements:
    methods:  GET|POST
    user_id: \d+

SLNRegisterBundle_licensee_edit:
  path: /licensee/edit/{id}
  defaults: { _controller: SLNRegisterBundle:Licensee:edit, saison_id: 0 }
  requirements:
    methods:  GET|POST
    id: \d+

SLNRegisterBundle_licensee_show:
  path: /licensee/{id}
  defaults: { _controller: SLNRegisterBundle:Licensee:show, saison_id: 0 }
  requirements:
    methods:  GET
    id: \d+

SLNRegisterBundle_licensee_delete:
  path: /licensee/delete/{id}
  defaults: { _controller: SLNRegisterBundle:Licensee:delete, saison_id: 0 }
  requirements:
    methods:  GET
    id: \d+

SLNRegisterBundle_licensee_change_group:
  path: /licensee/change_groups/{saison_id}
  defaults: { _controller: SLNRegisterBundle:Licensee:newGroupe }
  requirements:
    method: GET
    saison_id: \d+

SLNRegisterBundle_licensee_inscription:
  path: licensee/{saison_id}/inscription/{id}
  defaults: { _controller: SLNRegisterBundle:Licensee:inscription}
  requirements:
    methods:  GET|POST
    id: \d+
    saison_id: \d+

SLNRegisterBundle_member_inscriptions:
  path: /member/inscriptions/{user_id}
  defaults: { _controller: SLNRegisterBundle:Member:inscriptions }
  requirements:
    methods:  GET
    user_id: \d+

SLNRegisterBundle_member_inscriptions_pdf:
  path: /member/inscriptions/{user_id}/inscriptions.pdf
  defaults: { _controller: SLNRegisterBundle:Member:inscriptions_pdf }
  requirements:
    methods:  GET
    user_id: \d+

#
# Administrator pages
# ===================
#
# Create and edit groupes
# -----------------------
SLNRegisterBundle_groupe_create:
  path: /admin/groupe/create/
  defaults: { _controller: SLNRegisterBundle:Groupe:edit }
  requirements:
    methods:  GET|POST

SLNRegisterBundle_groupe_edit:
  path: /admin/groupe/edit/{id}
  defaults: { _controller: SLNRegisterBundle:Groupe:edit }
  requirements:
    methods:  GET|POST
    id: \d+

SLNRegisterBundle_groupe_delete:
  path: /admin/groupe/delete/{id}
  defaults: { _controller: SLNRegisterBundle:Groupe:delete }
  requirements:
    methods:  GET
    id: \d+

SLNRegisterBundle_groupe_show:
  path: /admin/groupe/{saison_id}/show/{id}
  defaults: { _controller: SLNRegisterBundle:Groupe:show, admin: true }
  requirements:
    methods:  GET|POST
    id: \d+
    saison_id: \d+

SLNRegisterBundle_groupe_list:
  path: /admin/groupe/list
  defaults: { _controller: SLNRegisterBundle:Groupe:list }
  requirements:
    methods:  GET|POST

#
# Create and edit saisons
# -----------------------
SLNRegisterBundle_saison_create:
  path: /admin/saison/create/
  defaults: { _controller: SLNRegisterBundle:Saison:edit }
  requirements:
    methods:  GET|POST

SLNRegisterBundle_saison_edit:
  path: /admin/saison/edit/{id}
  defaults: { _controller: SLNRegisterBundle:Saison:edit }
  requirements:
    methods:  GET|POST
    id: \d+

SLNRegisterBundle_saison_show:
  path: /admin/saison/show/{id}
  defaults: { _controller: SLNRegisterBundle:Saison:show, admin: true }
  requirements:
    methods:  GET|POST
    id: \d+

SLNRegisterBundle_saison_list:
  path: /admin/saison/list
  defaults: { _controller: SLNRegisterBundle:Saison:list }
  requirements:
    methods:  GET|POST

SLNRegisterBundle_saison_update:
  path: /admin/saison/update
  defaults: { _controller: SLNRegisterBundle:Saison:update }
  requirements:
    methods: POST


#
# Create and edit members
# -----------------------
SLNRegisterBundle_member_create:
  path: /admin/member/create
  defaults: { _controller: SLNRegisterBundle:Member:edit, id:0, admin: true}
  requirements:
    methods:  GET|POST

SLNRegisterBundle_member_edit:
  path: /admin/member/edit/{id}
  defaults: { _controller: SLNRegisterBundle:Member:edit, admin: true }
  requirements:
    methods:  GET|POST
    id: \d+

SLNRegisterBundle_member_delete:
  path: /admin/member/delete/{id}
  defaults: { _controller: SLNRegisterBundle:Member:delete }
  requirements:
    methods:  GET
    id: \d+

SLNRegisterBundle_member_list:
  path: /admin/member/list
  defaults: { _controller: SLNRegisterBundle:Member:list, admin: true }
  requirements:
    methods:  GET


#
# Create and edit licensees
# -------------------------
SLNRegisterBundle_admin_licensee_create:
  path: /admin/licensee/{saison_id}/create
  defaults: { _controller: SLNRegisterBundle:Licensee:edit, id:0, admin: true }
  requirements:
    methods:  GET|POST
    saison_id: \d+

SLNRegisterBundle_admin_licensee_create_for_user:
  path: /admin/licensee/{saison_id}/create/{user_id}
  defaults: { _controller: SLNRegisterBundle:Licensee:edit, id:0, admin: true }
  requirements:
    methods:  GET|POST
    user_id: \d+
    saison_id: \d+

SLNRegisterBundle_admin_licensee_edit:
  path: /admin/licensee/{saison_id}/edit/{id}
  defaults: { _controller: SLNRegisterBundle:Licensee:edit, admin: true }
  requirements:
    methods:  GET|POST
    id: \d+
    saison_id: \d+

SLNRegisterBundle_admin_licensee_list:
  path: /admin/licensee/{saison_id}/list
  defaults: { _controller: SLNRegisterBundle:Licensee:list, admin: true }
  requirements:
    methods:  GET
    saison_id: \d+

SLNRegisterBundle_admin_licensee_export:
  path: /admin/licensee/{saison_id}/export.xlsx
  defaults: { _controller: SLNRegisterBundle:Licensee:export}
  requirements:
    methods:  GET
    saison_id: \d+


#
# Mail sending
# ------------
SLNRegisterBundle_mail_licensee:
  path: /admin/mail/{saison_id}/licensee
  defaults: { _controller: SLNRegisterBundle:Mail:mail, id:0, defaultGroup:0, defaultLicensee: 0 }
  requirements:
    methods: GET|POST
    saison_id: \d+

SLNRegisterBundle_mail_edit:
  path: /admin/mail/{saison_id}/edit/{id}
  defaults: { _controller: SLNRegisterBundle:Mail:mail, defaultGroup:0, defaultLicensee: 0 }
  requirements:
    methods: GET|POST
    id: \d+
    saison_id: \d+

SLNRegisterBundle_mail_licensee_select:
  path: /admin/mail/{saison_id}/licensee/{defaultLicensee}
  defaults: { _controller: SLNRegisterBundle:Mail:mail, id:0, defaultGroup:0}
  requirements:
    methods: GET|POST
    defaultLicensee: \d+
    saison_id: \d+

SLNRegisterBundle_mail_confirm:
  path: /admin/mail/confirm/{id}
  defaults: { _controller: SLNRegisterBundle:Mail:confirm }
  requirements:
    methods: GET
    id: \d+

SLNRegisterBundle_mail_list:
  path: /admin/mail/list/{saison_id}/{page}
  defaults: { _controller: SLNRegisterBundle:Mail:list, id: 0, admin: true }
  requirements:
    methods: GET
    page: \d+
    saison_id: \d+


#
# Payments
# --------
SLNRegisterBundle_payment_search:
  path: /admin/payment/search
  defaults: { _controller: SLNRegisterBundle:Payment:search }
  requirements:
    methods: GET

SLNRegisterBundle_payment_user:
  path: /admin/payment/edit/s{saison_id}/{user_id}
  defaults: { _controller: SLNRegisterBundle:Payment:edit }
  requirements:
    methods: GET|POST
    saison_id: \d+
    user_id: \d+

SLNRegisterBundle_payment_edit:
  path: /admin/payment/edit/{user_id}/{id}
  defaults: { _controller: SLNRegisterBundle:Payment:edit, saison_id: 0 }
  requirements:
    methods: GET|POST
    user_id: \d+
    id: \d+

SLNRegisterBundle_payment_delete:
  path: /admin/payment/delete/{id}
  defaults: { _controller: SLNRegisterBundle:Payment:delete }
  requirements:
    methods: GET
    id: \d+

SLNRegisterBundle_payment_export:
  path: /admin/payment/{saison_id}/export.xlsx
  defaults: { _controller: SLNRegisterBundle:Payment:export }
  requirements:
    methods: GET
    saison_id: \d+

#
# Others
# ------
SLNRegisterBundle_admin_misc_test:
  path: /admin/test/{id}
  defaults: { _controller: SLNRegisterBundle:Misc:test }
  requirements:
    methods:  GET
    id: \d+



