{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}A propos de...{% endblock%}

{% block body %}
    <header>
        <h1>A propos de ce site</h1>
    </header>
    <article>
      <p>Ce site est créé pour aider les inscriptions pour le Stade Laurentin Natation.
    </article>
{% endblock %}
