{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contacter le Stade Laurentin Natation</h1>
    </header>

    <p>Want to contact SLN?</p>
{% endblock %}
