{% extends 'SLNRegisterBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <h1>Contactez le Stade Laurentin Natation</h1>

    <p>Envoyez nous un message, nous répondrons au plus vite.</p>

    {% include 'SLNRegisterBundle:Misc:contact_form.html.twig' with { 'form': form } %}
{% endblock %}
